body{
background-image: url("img/music-1283020_1920.jpg");
background-repeat: no-repeat;
background-size: auto;
padding: 0;
/*Kristőf a zsidó*/
}
h1, h2 {
    color: wheat;
}
p{
    color: wheat;
    size: 25px;
}
h2{
    size: 45px;
    font-size: 45px;
    color: wheat;
}
a{
    color : wheat
}
a:hover{
    color: aquamarine;
}
      .topnav {
        overflow: hidden;
        background-color: #333;
      }

      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }

      .topnav a.active {
        background-color: #04aa6d;
        color: white;
      }
#felsorolas{
    text-align: center;
}
img{
    width: 500px;
    height: 500px;
}
#bemutatkozas{
    width: 100%;
    height: 600px;
    margin-left: 10px;
}
#divright{
    display: flex;
    justify-content: flex-end;
    background-color: antiquewhite;
    width: 250px;
    height: 120px;
    margin-right: 20px;
    margin-bottom: 40px;
    float: right;
    rotate: calc(15deg);
    color: black;
    border: 1px solid;
    border-style: groove;
    border-radius: 10%;
}
#fekete{
    color: black;
}
#kristof{
    float: inline-end;
    height: 300px;
    border-radius: 15%;
    margin-right: 40px;
}
#nagy{
    font-size: 25px;
    size: 25px;
    text-align: justify;
}